body{
  background-color: red;
}


.ojos{
  width: 100px;
  height: 50px;
  background-color: black;
  position: absolute;
  clip-path: polygon(51% 25%, 78% 29%, 100% 43%, 81% 56%, 55% 61%, 24% 60%, 11% 52%, 0% 43%, 29% 29%);

}

.cejas{
  width: 100px;
  height: 50px;
  background-color: black;
  position: absolute;
}
#pelo{
  width: 500px;
  height: 500px;
  background-color: black;
  position: absolute;
  clip-path: polygon(74% 0, 100% 17%, 100% 100%, 86% 41%, 51% 19%, 13% 41%, 0 100%, 0 19%, 26% 0);


}
#ojo1{
  left: 320px;
  top: 200px;
}
#ojo2{
  left: 70px;
  top: 200px;

}

#ceja1{
  left: 70px;
  top: 190px;
  clip-path: polygon(100% 0%, 100% 24%, 100% 20%, 38% 18%, 0 28%, 29% 0);
}

#ceja2{
  left: 320px;
  top: 190px;
  clip-path: polygon(61% 0, 100% 23%, 100% 26%, 59% 19%, 0 20%, 0 0);

}
#nariz{
  left: 200px;
  top: 260px;
  width: 80px;
  height: 130px;
  background-color: black;
  position: absolute;
  clip-path: polygon(32% 0, 63% 0, 64% 35%, 85% 65%, 57% 71%, 41% 71%, 13% 66%, 31% 37%);

}
#boca{
  left: 190px;
  top: 400px;
  width: 100px;
  height: 90px;
  background-color: red;
  position: absolute;
  clip-path: polygon(26% 20%, 49% 32%, 76% 20%, 100% 46%, 81% 67%, 50% 78%, 23% 67%, 0 45%);

}


#cara{
  width: 500px;
  height: 600px;
  position: absolute;
  background-color: white;
  left: 400px;
  border-radius: 49% 51% 51% 49% / 43% 40% 60% 57% ;
}
