body {
  background-color: #fdfdff;
  padding:40vh 0;
}

.corazon {
  animation: latido 1s infinite;
  background-color: red;
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  top: 0;
  transform: rotate(-45deg);
  position: absolute;
  left: 45%;
  top: 45%;
  width: 50px;
}

.corazon:before,
.corazon:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.corazon:before {
  top: -25px;
  left: 0;
}

.corazon:after {
  left: 25px;
  top: 0;
}

@keyframes latido {
  0%
  {
    transform: scale( 1 )
      rotate(-45deg);
  }
  20%
  {
    transform: scale( 1.25 )
      rotate(-45deg);
  }
   40%
  {
    transform: scale( 1.5 )
      rotate(-45deg);
  }
}
