body{
  margin: 0 auto;
  background-color: pink;
}

.corazon{
  width: 300px;
  height: 300px;
  background-color: red;
  margin: 0 auto;
  position: relative;
  top: 250px;
}
.corazon:before {
  background-color: green;
  content:'';
  transform: translateY(-150px);
  position: absolute;
  border-radius: 50%;

}
.corazon:after {
  background-color: green;
  content:'';
  transform: translateX(150px);
  position: absolute;
  border-radius: 50%;

  }
