@media screen and (min-width:320px) and (max-width:768px){
  body{
    background-color: pink;
    transition: 1s;
  }
}

body{
  font-family: 'Berkshire Swash', cursive;
}

p{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
}

img {
  max-width: 100%;
  height: auto;
}

.cuadros{
  width: 100px;
  height: 50px;
  background-color: pink;
  margin: 20px;
}

.cuadros:hover{
  opacity: 50%;
}

#uno{
  background-color: lightblue;
}

#dos{
  background-color: lightgreen;
}

#tres{
  background-color: lightsalmon;
}

#cuatro{
  background-color: lightcoral;
}

#cuadroderecho{
  height: 280px;
  width: 460px;
  background-color: white;
  float: left;
  margin: 10px;
}

#contenedor{
  float: left;
}

#contenido{
  width: 880px;
  height: 1400px;
  background-color: green;
  margin: 20px;
  float: left;
}

#titulo{
  font-family: serif;
  font-weight: bold;
  font-size: 100px;
  color: lightsalmon;
  text-align: center;
  -webkit-text-stroke-: white 3px;
  float: left;
}
